* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.container {
  width: 50%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: monospace;
  color: red;
  font-size: 5rem;
  margin: 3rem 0;
}

button {
  margin: 1rem auto;
  background-color: hsl(220, 90%, 66%);
  color: white;
  font-family: monospace;
  font-size: 2rem;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  box-shadow: 0px 0px 3px 2px hsl(0, 3%, 80%);
}

button:hover {
  box-shadow: none;
}

.toyHeader-buttonContainer {
  text-align: center;
}

.sketchGrid {
  width: 100%;
  margin: 1rem auto;
  /* border: .5rem solid black; */
  overflow: hidden;
  height: 70rem;
}

.gridElement {
  float: left;
  border: .25px solid hsl(100, 5%, 90%);
}

.gridElement.basicHover {
  background-color: black;
  transition: 0.7s;
}